.footer {
	background-color: $white;
	margin-top: auto;
	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: rem(10);
		padding-bottom: rem(10);
	}

	&__id-bl{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__id-txt{
		font-weight: 300;
		margin-right: rem(5);
	}
	&__id{
		font-weight: bold;
		color: $orange;
	}
	&__support{
		@extend .btn;
		@extend .btn-pink;

		background-color: transparent;
		color: $pink;
		border: 1px solid transparent;
		&:hover{
			background-color: $pink;
			//color: darken($pink, 10);
		}
		text-decoration: none;
		&:hover{

		}
	}
	&__{}
	&__{}
	&__{}
}
