.footer {
	background-color: $white;
	margin-top: auto;

	&--no-log{
		background-color: darken($white, 2);
		border-top: 1px solid $light-2;
		//.footer__conteiner{
		//	justify-content: center;
		//}

	}

	&__contact{
		font-size: $small;

		span{
			margin-right: rem(5);
		}
		a{
			color: $teal;
			&:hover{
				color: darken($teal, 10);
			}
		}
	}
	//end no-log

	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: rem(10);
		padding-bottom: rem(10);
	}

	&__id-bl{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__id-txt{
		font-weight: 300;
		margin-right: rem(5);
	}
	&__id{
		font-weight: bold;
		color: $orange;
	}
	&__support{
		@extend .btn;
		@extend .btn-pink;

		background-color: transparent;
		color: $pink;
		border: 1px solid transparent;
		&:hover{
			background-color: $pink;
			//color: darken($pink, 10);
		}
		text-decoration: none;
		&:hover{

		}
	}


	&__{}
	&__{}
	&__{}
}
