.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-ambulance {
	font-size:(400/10)*1rem;
	width:(500/400)*1em;
}
.icon-arrow-right {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-bag {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-cart {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-check {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-crown {
	font-size:(400/10)*1rem;
	width:(500/400)*1em;
}
.icon-eye {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-heart {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-heart_bag {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-phone {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-plus {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-question-sign {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-refresh {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-rocket {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-sign-out {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-trash {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-user {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-wheel {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
