extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sCharts/_sCharts.pug
include ../blocks/sExchange/_sExchange.pug
include ../blocks/sPhotoes/_sPhotoes.pug

block variables
	- let  mainPage= null
block title
	- let  title= '02-exchange'
	title= title
block pagecontent
	.main-wrapper
		+mob-mnu()
		+header()
			+top-nav()
		+sExchange()
		+sPhotoes()
		+footer()


	