extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sCharts/_sCharts.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	.main-wrapper
		+mob-mnu()
		+header()
			+top-nav()
		+headerBlock()
		+sHow()
		+sCharts()
		+footer()


	