mixin mob-mnu()
	+b.menu-mobile--js.d-md-none
		//+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu2()
			.text-right
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.user-img(href="#")
				img(loading="lazy" src="img/@2x/profile-img.jpg" alt="")
			+b.toggle-menu-mobile--js.d-md-none
				span
			+mnu()(class="d-none d-md-flex")
			+e.complain-btn.link-modal(href='#manager-complain')
				span Пожаловаться на менеджера
				+icon('ambulance')
			+e.log-out(href="#")
				+icon('sign-out')
	// end top-nav