.top-nav {
	position: fixed;
	width: 100%;
	height: 51px;
	left: 0;
	top: 0;
	z-index: 1000;

	&__container{
		box-shadow: 0 0 10px 0 rgba($black, .15);
		height: 100%;
		@include media-breakpoint-down(xl){
			max-width: 100%;
		}
		@include media-breakpoint-up(xl){
			max-width: 1024px;
		}

		background-color: $white;
		border-bottom: 1px solid $light;
		display: flex;
		align-items: center;
		padding: 0;
	}
	&__user-img{
		display: block;
		width: rem(30px);
		height: rem(30px);
		margin-left: rem(20);
		border-radius: rem(4);

		margin-right: rem(20);
		@include media-breakpoint-up(sm){
			margin-right: rem(30);
		}
		overflow: hidden;

		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		img{
			@include mt();
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.navMenu{
		&__item{
			padding: 0;

			margin-right: rem(10);
			@include media-breakpoint-up(lg){
				margin-right: rem(20);
			}
			&:last-child{
				margin-right: 0;
			}
		}
		&__link{
			display: block;
			position: relative;
			&:after{
				content: '';
				@include mt();
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $pink;
				bottom: 0;
				left: 0;
			}

			@include mt();
			color: $body-color;
			&:hover{
				color: $black;
				text-shadow: 0 0 .8px rgba($black, .8);
				&:after{
					opacity: 1;
				}
			}
			padding: rem(13px) rem(10);

			&--vip{
				color: $pink;
			}
		}


	}
	//
	&__complain-btn{
		@extend .btn;
		@extend .btn-danger;

		@include media-breakpoint-down(sm){
			padding: rem(4);
		}

		@include media-breakpoint-up(sm){
			background-color: transparent;
			color: $body-color;
			border: 1px solid transparent;
		}
		&:hover{
			.icon{
				color: $white;
			}
		}
		margin-left: auto;
		margin-right: rem(10);
		span{
			font-size: 11px;
			@include media-breakpoint-up(sm){
				font-size: inherit;
				margin-right: rem(5);
			}
		}
		.icon{
			@include media-breakpoint-down(sm){
				display: none;
			}

			@include mt();
			color: $danger;
			font-size: 15px;
		}
	}
	&__log-out{
		align-self: stretch;
		width: rem(48);
		border-left: 1px solid $light;
		display: flex;
		align-items: center;
		justify-content: center;

		@include mt();
		background-color: transparent;
		&:hover{
			background-color: $light;
			.icon{
				color: rgba($black, .9);
				transform: scale(1.1) translateX(4px);
			}
		}

		.icon{
			@include mt();
			color: rgba($black, .35);
			font-size: rem(20);
		}
	}
	&__{}


}


