 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}


//range
.range-wrap{
	margin-bottom: 20px;

	//
	.irs-handle{
		cursor: pointer;
		border: none;
		transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;

		background-color: $white;
		border-radius: 50%;
		box-shadow: 0 4px 8px rgba(0,0,0,0.2);
		&:hover{
			background-color: darken($white, 2);
			box-shadow: 0 4px 8px rgba(0,0,0,0.4);
		}
		&:focus{
			background-color: $white;
		}
		i{
			opacity: 0;
		}

	}
	.irs-bar{
		background-color: $orange2;
	}
	.irs-max,
	.irs-min{
		display: none;
	}

	.irs-single{
		font-size: rem(16);
		font-weight: bold;
		background-color: $orange2;
		padding: rem(5);
		transform: translateY(-20px);
	}
}
