mixin mnu()
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")&attributes(attributes)
		+e.LI.item( itemprop="item" ): +e.A.link.active(href=""  itemprop="url") Биржа
		+e.LI.item( itemprop="item" ): +e.A.link(href=""  itemprop="url") Самопиар
		+e.LI.item( itemprop="item" ): +e.A.link--vip.link-modal(href="#vip-modal"  itemprop="url") Активировать VIP
//- /menu

mixin mnu2()
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")&attributes(attributes)
		+e.LI.item( itemprop="item" )
			+e.A.link--bag(href="#"  itemprop="url")
				.icon-cont
					+icon('bag')
				span Биржа
		+e.LI.item( itemprop="item" )
			+e.A.link--heart(href="#"  itemprop="url")
				.icon-cont
					+icon('heart')
				span Самопиар
		+e.LI.item( itemprop="item" )
			+e.A.link--vip.link-modal(href="#vip-modal"  itemprop="url")
				.icon-cont
					+icon('crown')
				span Активировать VIP
//- /menu