// start .sCharts
.sCharts {
	--sPT: #{0};
	--sPB: #{rem(0)};
	--sTPB: #{rem(0)};

	&__row{
		@include roww(20px);
		@include media-breakpoint-up(md){
			@include roww(30px);
		}
	}
	&__col{
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		border-radius: rem(8);
		height: 100%;
		background: $white;

		padding: rem(20) 0;
		@include media-breakpoint-up(sm){
			padding: rem(20);
		}
	}
	&__title{
		display: flex;
		align-items: center;
		position: relative;
		z-index: 100;

		padding-bottom: rem(20);
		padding-right: rem(40);
		@include media-breakpoint-down(sm){
			max-width: calc(100% - 30px);
			margin-left: 15px;
		}
	}
	&__txt{
		font-weight: 300;
		margin-bottom: 0;
		font-size: rem(20);
	}

	&__refresh-btn{
		position: absolute;
		top: 0;
		right: 0;
		width: rem(32);
		height: rem(32);
		border-radius: rem(4);

		@include mt();
		border: 1px solid $light;
		&:hover{
			border: 1px solid $pink;
			.icon{
				transform: scale(1.1);
				//color: rgba($black, .8);
			}
		}

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			@include mt();
			font-size: rem(16px);
			color: $black;
		}
	}
	&__chart-cont{
		width: 100%;
		position: relative;
		height: 300px;
		@include media-breakpoint-up(sm){
			margin: 0 -10px;
			padding-top: (300/400) * 100%;
			height: 0;
		}

		overflow: hidden;
		& > *{
			font-size: rem(13.5);
			@include media-breakpoint-up(sm){
				font-size: rem(14);
			}
			position: absolute;
			width: 100%;

			@include media-breakpoint-down(sm){
				width: calc(100% + 20px);
				margin-left: -25px;
			}

			height: 109%;
			@include media-breakpoint-up(lg){
				height: 114%;
			}
			left: 0;
			top: 0;
		}
	}
	&__{}
} // end.sCharts

.tooltip{
	position: relative;
	margin-left: rem(10);
	//tt
	--ttVisibility: 0;
	//img
	--imgBg: #{$light};
	--imgBorder: #{$light};
	--imgIconColor: #{$white};
	&:hover{
		//tt
		--ttVisibility: 1;
		//img
		--imgBg: #{$white};
		--imgBorder: #{$pink};
		--imgIconColor: #{rgba($black, .8)};
	}

	&__tt-img{
		cursor: pointer;
		width: rem(20);
		height: rem(20);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include mt();
		background-color: var(--imgBg);
		border: 2px solid var(--imgBorder);
		.icon{
			@include mt();
			color: var(--imgIconColor);
			font-size: rem(11px);
		}
	}
	&__tt-txt{
		@include mt();
		opacity: var(--ttVisibility);
		--bgColor: #{$dark};
		position: absolute;
		top: calc(100% + 10px);
		left: 50%;
		transform: translateX(-50%);
		width: 200px;
		padding: rem(10);
		height: auto;

		border-radius: rem(4);
		font-size: rem(12);
		background-color: var(--bgColor);
		text-align: center;
		color: $white;

		&:before{
			content: '';
			position: absolute;
			bottom: calc(100% - 1px);
			left: 50%;
			transform: translateX(-50%);

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6px 6px 6px;
			border-color: transparent transparent var(--bgColor) transparent;
		}
	}
}
